<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Cadastrar</title>
</head>
<body>
    <form asp-action="Cadastrar" method="post">
        <label>Nome:</label>
        <input type="text" name="txtNome" /><br />
        <label>Descrição:</label>
        <input type="text" name="txtDescricao" /><br />
        <label>Preço:</label>
        <input type="text" name="txtPreco" /><br />
        <label>Quantidade:</label>
        <input type="text" name="txtQuantidade" /><br />
        <input type="submit" value="Cadastrar" />
    </form>
</body>
</html>
