<form asp-action="Cadastrar" method="post">
    <div class="form-group" id="Nome">
        <label>Nome:</label>
        <input type="text" class="form-control" name="txtNome" />
    </div>
    <div class="form-group" id="Descricao">
        <label>Descrição:</label>
        <input type="text" class="form-control" name="txtDescricao" />
    </div>
    <div class="form-group" id="Preco">
        <label>Preço:</label>
        <input type="text" class="form-control" name="txtPreco" />
    </div>
    <div class="form-group" id="Quantidade">
        <label>Quantidade:</label>
        <input type="text" class="form-control" name="txtQuantidade" />
    </div>
    <input type="submit" class="btn btn-primary" value="Cadastrar" />
</form>